{
    "measurement": "{{ m1 }}",
    "tags": {
            "host": "{{ ip }}",
            "region": "{{ location }}"
        },
    "fields": {
      "total_energy": "{{energy}}",
      "ac_time": "{{ date }}"
    }
}