{
    "measurement": "{{ m1 }}",
    "tags": {
            "host": "{{ ip }}",
            "region": "{{ location }}"
        },
    "fields": {
      "voltage": "{{ v }}",
      "current": "{{ i }}",
      "power": "{{ p }}",
      "power_factor": "{{ pf }}",
      "ac_time": "{{ date }}"
    }
}